<template>
  <div>
    <h1 class="title is-2">Pokedex</h1>
    <b-select v-model="sortName" class="mb-2">
      <option value="asc">Sort by name: ASC</option>
      <option value="desc">Sort by name: DESC</option>
    </b-select>
    <b-select v-model="sortId" class="mb-2">
      <option value="asc">Sort by id: ASC</option>
      <option value="desc">Sort by id: DESC</option>
    </b-select>
    <b-field>
      <b-input v-model='researchName'
               placeholder="Search name" type="search" icon="magnify">
      </b-input>
      <b-input v-model='researchType'
               placeholder="Search type" type="search" icon="magnify">
      </b-input>
    </b-field>
    <div class="card" v-for="pokemon in orderedFirstPokemons" v-bind:key="pokemon.id">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img :src=pokemon.sprite alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ pokemon.name }}</p>
            <span class="subtitle is-6 mr-2" v-for="(type, index) in pokemon.types" v-bind:key="index">{{ type.type.name }}</span>
          </div>
          <div class="media-right">{{ pokemon.id }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "Pokedex",
  data() {
    return {
      sortBy: 'default',
      sortDirection: 'asc',
      twentyFirstPokemons: [],
      researchName: null,
      researchType: null,
      sortName: null,
      sortId: null,
      pokedexAPI: 'https://pokeapi.co/api/v2/pokemon/'
    };
  },
  computed: {
    orderedFirstPokemons: function () {
      function compareId(a, b) {
        if (a.id < b.id)
          return -1;
        if (a.id > b.id)
          return 1;
        return 0;
      }
      function compareName(a, b) {
        if (a.name < b.name)
          return -1;
        if (a.name > b.name)
          return 1;
        return 0;
      }

      let firstPkmnCopy = this.twentyFirstPokemons.slice();

      if(this.researchName) {
        const regex = new RegExp(this.researchName);

        firstPkmnCopy = firstPkmnCopy.filter(pokemon => {
          return regex.test(pokemon.name);
        });
      }

      if(this.researchType) {
        const regex = new RegExp(this.researchType);
        firstPkmnCopy = firstPkmnCopy.filter(pokemon => {
          let found = false;
          pokemon.types.forEach(type => {
            if (regex.test(type.type.name)) {
              found = true;
            }
          })
          return found;
        });
      }

      if(this.sortBy === 'name') {
        firstPkmnCopy = firstPkmnCopy.sort(compareName);
      } else {
        firstPkmnCopy = firstPkmnCopy.sort(compareId);
      }
      if(this.sortDirection === "desc") {
        firstPkmnCopy = firstPkmnCopy.reverse();
      }

      return firstPkmnCopy;
    }
  },
  methods: {
    getTwentyFirstPokemons() {

      fetch(this.pokedexAPI, {})
      .then( res => res.json() )
      .then( data => data.results.forEach(pokemon => {
        fetch(pokemon.url, {})
        .then( res => res.json() )
        .then( data => {
          let pokemon = {};
          pokemon.name = data.name;
          pokemon.id = data.id;
          pokemon.types = data.types;
          pokemon.sprite = data.sprites.front_default;
          pokemon.height = data.height;
          pokemon.weight = data.weight;
          pokemon.abilities = data.abilities;
          this.twentyFirstPokemons.push(pokemon);
        });
    }) )
    }
  },
  watch: {
    sortName: function() {
      this.sortBy = 'name';
      this.sortDirection = this.sortName;
    },
    sortId: function() {
      this.sortBy = 'id';
      this.sortDirection = this.sortId;
    }
  },
  created() {
    this.getTwentyFirstPokemons();
  },
}
</script>